@page "/"
@namespace razorfloder
@inject NavigationManager Navigation

@* 
   만약 App.razor에서 @rendermode를 설정하지 않았다면 
   여기 최상단에 @rendermode InteractiveServer 를 적어줘야 버튼이 작동합니다.
*@

<h1>Hello, Blazor!</h1>

<p>Welcome to your Blazor Server application.</p>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RedirectUserData">
    유저 데이터
</MudButton>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="RedirectStageData">
    스테이지 데이터
</MudButton>


@code {
    private void RedirectUserData()
    {
        Navigation.NavigateTo("/userplaydata",forceLoad: true);
    }

    private void RedirectStageData()
    {
        Navigation.NavigateTo("/stagedeathinfo");
    }
}